<launch>    
    <!-- load the controllers -->
    <rosparam file="$(find Humanoide_control)/config/controller.yaml" command="load"/>
    <!--node name="controller_spawner" pkg="controller_manager" ns="/Bogobot_model" type="spawner" respawn="false"
    output="screen" args="joint_state_publisher"/-->
    <!-- converts joint states to TF transforms -->
    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="joint_states" to="/Bogobot_model/joint_states" />
    </node-->
</launch>