<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <include file="$(find Humanoide_control)/launch/Humanoide_control.launch" />
  <include file="$(find humanoide_gazebo)/launch/Humanoide_spawn.launch" />
  <node pkg="humanoide_mov" type="T_pose.py" name="T_pose"></node>
  
</launch>